input.spin-button {
    padding-right: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-image: url(/sfExtraWidgetsPlugin/img/spinbutton/spinbtn_updn.gif);
}

input.spin-button.up {
    cursor: pointer;
    background-position: 100% -18px;
    z-index: 99;
}

input.spin-button.down {
    cursor: pointer;
    background-position: 100% -36px;
    z-index: 99;
}