@CHARSET "UTF-8";

/*
 * Styles for login page. This file will be included from login/login 
 * action, by adding it to the sfWebResponse object at the last position,
 * so he will override all existing styles
 */

div#login a, div#login a:Hover {
  color: #496175;
  border-bottom: 1px dotted #496175;
  text-decoration: none;
}

div#login div {
  margin-top: 20px;
  text-align: left;
}



/* -------------------- layout -------------------- */

div#login {
  margin: 5% auto 50px auto;
  width: 770px;
  background-color: #ECF3F3;
  padding: 0;
  border: 6px solid #B6E9E3;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

div#login #container {
  margin: auto;
  padding: 0;
  width: 98%;
}

div#login #left {
  float: left;
  width: 370px;
  margin-top: 10px;
}

div#login #right {
  margin-left: 10px;
  float: left;
  width: 370px;
  margin-top: 10px;
  background-color: #fff;
}

div#login #foot {
  text-align: center;
  padding-bottom: 10px;
}



/* -------------------- titles -------------------- */

div#login h1 {
  margin: 0px 0 0 0;
  text-align: left;
  padding: 6px 3px 3px 10px;
  font-weight: lighter;
  font-size: 19px;
}

div#login h2 {
  font-family: Helvetica;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 10px 10px 10px 10px;
}




/* -------------------- form elements -------------------- */

div#login label {
  text-align: left;
  color: #8398A0;
  margin-left: 19px;
}

div#login #login_username,div#login #login_openid {
  padding: 5px;
  width: 96%;
  font-size: 15px;
  color: #658388;
}

div#login #login_password {
  color: #658388;
  font-size: 15px;
  padding: 5px;
  width: 170px;
}

div#login .input {
  padding: 3px;
  background-color: #BBE6EC;
  margin: 0px 0px 10px 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 90%;
  margin: auto;
}

div#login .input:Hover {
  background-color: #9AD3DB;
}



/* -------------------- error elements -------------------- */

div#login .error_list li {
  font-weight: lighter;
}

p.error {
  margin-top: 1px;
  background-color :#CC3131;
  color: white;
}
